@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.animate-spin-slow {
    animation: spin 10s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    50% {
        transform: translateX(-100%);
    }
}

.animate-marquee {
    animation: marquee 500s linear infinite;
}

.animate-marquee-reverse {
    animation: marquee 500s linear infinite reverse;
}